/* Place your CSS styles in this file */

body {background-color:beige;
border:5px solid darkorange}


}
  
h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: georgia;
    text-color: pink;
}
p{
   